body {
    background-color: #444EFF;
    background-image: -webkit-linear-gradient(30deg, #444EFF 80%, hsl(0, 0%, 100%) 20%);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn{
    color: #444EFF;
    background-color: #fcfcfc;
    border-color: #fcfcfc;
}

