.branding-branding {
    gap: var(--dl-space-space-halfunit);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
  }
  .branding-logo {
    width: 26px;
    height: 26px;
    object-fit: cover;
  }
  .branding-company-name {
    color: #222223;
    font-size: 36px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 54px;
  }
  
  
  @media(max-width: 767px) {
    .branding-logo {
      width: 15px;
      height: 15px;
    }
    .branding-company-name {
      font-size: 21px;
      line-height: 32px;
    }
  }
  
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .home-hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .home-main {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    height: 646px;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: row;
  }
  .home-content {
    gap: var(--dl-space-space-fiveunits);
    flex: 1;
    height: 100%;
    display: flex;
    align-items: flex-start;
    padding-top: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-hero-section {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 600px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-header {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading {
    color: rgb(34, 34, 35);
    font-size: 50px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 91px;
  }
  .home-caption {
    color: rgb(34, 34, 35);
    font-size: 20px;
    line-height: 30px;
  }
  .home-buttons {
    gap: var(--dl-space-space-unit);
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-image {
    flex: 1;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1600880292089-90a7e086ee0c?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDN8fGJ1c2luZXNzJTIwdGVhbXxlbnwwfHx8fDE2ODc5NzM3Nzd8MA&ixlib=rb-4.0.3&w=1400');
  }
  .home-details-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    background-color: #79D490;
  }
  .home-details {
    gap: var(--dl-space-space-fiveunits);
    flex: 1;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: flex-start;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-category {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-image1 {
    width: 32px;
    object-fit: cover;
  }
  .home-text3 {
    max-width: 282px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-category1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-image2 {
    width: 32px;
    object-fit: cover;
  }
  .home-text4 {
    max-width: 282px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-category2 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-image3 {
    width: 32px;
    object-fit: cover;
  }
  .home-text5 {
    max-width: 282px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
  .home-mission {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: 200px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-sixunits);
    justify-content: center;
  }
  .home-content1 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 560px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-main1 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-title {
    color: rgb(34, 34, 35);
    font-style: normal;
    font-weight: 500;
  }
  .home-header1 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading1 {
    color: rgb(34, 34, 35);
    font-size: 40px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .home-highlights {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-highlight {
    gap: var(--dl-space-space-oneandhalfunits);
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    max-width: 248px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-images {
    flex: 1;
    display: contents;
    position: relative;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-image4 {
    width: 367px;
    object-fit: cover;
  }
  .home-row {
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
  }
  .home-petitions {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-sixunits);
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: row;
    padding-bottom: 120px;
    justify-content: center;
  }
  .home-images1 {
    flex: 1;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-image5 {
    width: 384px;
    height: 576px;
    object-fit: cover;
  }
  .home-content2 {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 560px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-main2 {
    gap: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-header2 {
    gap: var(--dl-space-space-unit);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-heading2 {
    color: rgb(34, 34, 35);
    font-size: 30px;
    font-style: normal;
    font-family: Lora;
    font-weight: 500;
    line-height: 52px;
  }
  .home-button1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
  }
  .home-footer {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 120px;
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
    background-color: #79D590;
  }
  .home-top {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 640px;
    align-items: center;
    border-color: #222223;
    border-style: dashed;
    flex-direction: column;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
    border-bottom-width: 1px;
  }
  .home-navigation-links {
    gap: var(--dl-space-space-twounits);
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
  }
  .home-link {
    text-decoration: none;
  }
  .home-link1 {
    text-decoration: none;
  }
  .home-link2 {
    text-decoration: none;
  }
  .home-link3 {
    text-decoration: none;
  }
  .home-middle {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    display: flex;
    max-width: 250px;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-threeunits);
    justify-content: center;
  }
  .home-text7 {
    width: 100%;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Lora;
    font-weight: 500;
    line-height: 36px;
  }
  .home-text8 {
    width: 100%;
    font-size: 24px;
    font-style: normal;
    text-align: center;
    font-family: Lora;
    font-weight: 500;
    line-height: 36px;
  }
  .home-bottom {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    border: 2px dashed rgba(120, 120, 120, 0.4);
    display: flex;
    max-width: 640px;
    align-items: center;
    padding-top: var(--dl-space-space-threeunits);
    border-color: #222223;
    border-style: dashed;
    flex-direction: column;
    justify-content: center;
    border-top-width: 1px;
  }
  @media(max-width: 991px) {
    .home-main {
      gap: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-threeunits);
    }
    .home-heading {
      font-size: 36px;
      line-height: 46px;
    }
    .home-caption {
      font-size: 16px;
      line-height: 24px;
    }
    .home-buttons {
      flex-direction: column;
    }
    .home-details {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-category {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-category1 {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-category2 {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-mission {
      gap: var(--dl-space-space-twounits);
    }
    .home-petitions {
      padding-top: 0px;
      flex-direction: column-reverse;
      padding-bottom: var(--dl-space-space-sixunits);
    }
    .home-images1 {
      width: 100%;
    }
    .home-image5 {
      flex: 1;
      width: 100%;
    }
    .home-content2 {
      max-width: 100%;
    }
    .home-button1 {
      width: 100%;
    }
    .home-footer {
      width: 100%;
      padding-top: var(--dl-space-space-sixunits);
    }
  }
  @media(max-width: 767px) {
    .home-main {
      gap: var(--dl-space-space-threeunits);
      height: 800px;
      position: relative;
      padding-left: 0px;
      flex-direction: column;
    }
    .home-content {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-image {
      width: 100%;
      padding-top: 0px;
      padding-left: 0px;
      padding-right: 0px;
      background-position: center;
    }
    .home-details {
      gap: var(--dl-space-space-twounits);
      padding-top: var(--dl-space-space-threeunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-category {
      gap: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .home-text3 {
      max-width: 100%;
    }
    .home-category1 {
      gap: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .home-text4 {
      max-width: 100%;
    }
    .home-category2 {
      gap: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .home-text5 {
      max-width: 100%;
    }
    .home-mission {
      gap: var(--dl-space-space-threeunits);
      padding-top: var(--dl-space-space-sixunits);
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
      flex-direction: column;
    }
    .home-content1 {
      max-width: 100%;
    }
    .home-images {
      width: 100%;
      align-items: flex-start;
      flex-direction: column;
      justify-content: flex-start;
    }
    .home-row {
      width: 100%;
      padding-top: var(--dl-space-space-oneandhalfunits);
      justify-content: flex-end;
    }
    .home-petitions {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
    .home-footer {
      padding-left: var(--dl-space-space-oneandhalfunits);
      padding-right: var(--dl-space-space-oneandhalfunits);
    }
  }
  @media(max-width: 479px) {
    .home-content {
      gap: var(--dl-space-space-threeunits);
    }
    .home-mission {
      padding-top: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-title {
      font-size: 12px;
    }
    .home-header1 {
      gap: var(--dl-space-space-oneandhalfunits);
    }
    .home-heading1 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-highlights {
      gap: var(--dl-space-space-unit);
      flex-direction: column;
    }
    .home-highlight {
      gap: var(--dl-space-space-unit);
    }
    .home-image4 {
      width: 200px;
    }
    .home-petitions {
      gap: var(--dl-space-space-threeunits);
      padding-bottom: var(--dl-space-space-threeunits);
    }
    .home-heading2 {
      font-size: 30px;
      line-height: 40px;
    }
    .home-footer {
      padding-top: var(--dl-space-space-threeunits);
    }
    .home-navigation-links {
      flex-direction: column;
    }
    .home-text7 {
      font-size: 18px;
      line-height: 40px;
    }
    .home-text8 {
      font-size: 18px;
      line-height: 40px;
    }
    .home-bottom {
      padding-top: var(--dl-space-space-oneandhalfunits);
    }
  }
  